body {
  height: 100%;
  width: 100%;
  background: url("https://image.freepik.com/photos-gratuite/fond-bleu-degrade-luxe-abstrait-bleu-fonce-lisse-vignette-noire-studio-banner_1258-52606.jpg");
  font-family: Goblin One;
  color:white;
}

.competence {
  height: 100vh;
  width: 100vw;
}

a {
  background: white;
  padding: 15px;
}
