* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Cutive Mono", monospace;

}
#index {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
.intro {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.indexmenu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.indexmenu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
.btn-primary {
  color: #fff !important;
  background: black(2, 31, 54) !important;
  overflow: hidden;
  border-radius: 20%;
}
.btn {
  border: 0;
  color: inherit;
  background: 0;
  padding: 20px 40px;
  margin: 15px 0;
  font-weight: 700;
  outline: 0;
  position: relative;
  z-index: 1;
  border-radius: 10%;
  font-size: inherit;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.32, 0.66, 0.56, 0.92);
}
.btn:after,
.btn:before {
  -webkit-transition: all 0.4s cubic-bezier(0.32, 0.66, 0.56, 0.92);
  -moz-transition: all 0.4s cubic-bezier(0.32, 0.66, 0.56, 0.92);
  -ms-transition: all 0.4s cubic-bezier(0.32, 0.66, 0.56, 0.92);
  -o-transition: all 0.4s cubic-bezier(0.32, 0.66, 0.56, 0.92);
  transition: all 0.4s cubic-bezier(0.32, 0.66, 0.56, 0.92);
}
.btn-primary:after {
  opacity: 0;
  transition-delay: 0.1s;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.btn-primary:after,
.btn-primary:before {
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #000;
  width: 100%;
}
.btn:after,
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
}
a:after,
a:before {
  -webkit-transition: all 0.4s cubic-bezier(0.35, 0.91, 0.46, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.35, 0.91, 0.46, 0.99);
  -ms-transition: all 0.4s cubic-bezier(0.35, 0.91, 0.46, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.35, 0.91, 0.46, 0.99);
  transition: all 0.4s cubic-bezier(0.35, 0.91, 0.46, 0.99);
}
.btn-primary:before {
  transition-duration: 1s;
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.btn-primary:after {
  opacity: 0;
  transition-delay: 0.1s;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.btn-primary:hover:after {
  height: 200%;
  opacity: 1;
  transition-delay: 0.1s;
}
.btn-primary:hover:before {
  transition-duration: 0.5s;
  height: 400%;
  opacity: 0;
}
.btn-primary:hover {
  border: 0 solid #f4a460;
  background-color: grey !important;
}
#presentation {
  background: #00111d;
  height: 100vh;
  width: 100vw;
  color: #fff;
  line-height: 20px;
  padding: 20px;
  font-family:Shadows Into Light ;
  font-size: 30px;
  line-height: 40px;

}


h1 {
  display: table;
  margin: auto;
}
.type {
  display: inline-flex;
}
#projets {
  background: #00111d;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  gap: 30px 30px;
  padding: 30px;
}
.realisations img {
  width: 100%;
  height: 60%;
}
.realisations {
  background: #67c5eb;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  box-shadow: inset 1px 1px 150px #000;
  gap: 40px;
}
.presenteprojet {
  text-align: center;
  gap: 20px;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background: #000608;
}
#competences {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}
.cell-1 {
  background: #00bfff;
}
.cell-2 {
  background: #000;
}
.cell-3 {
  background: #4169e1;
}
.cell-4 {
  background: #000e13;
}
.cell-5 {
  background: #104858;
}
.cell-6 {
  background: #104181;
}
.cell-7 {
  background: #112430;
}
.cell-8 {
  background: #20b2aa;
}
.cell-9 {
  background: #00000a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#contacts {
  display: flex;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: #1b525c;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
form {
  width: 50%;
}
#contact button[type="submit"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="text"],
#contact input[type="url"],
#contact textarea {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}
#contact h3 {
  color: #000;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="text"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #000;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="text"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
footer {
  height: 30px;
}

.gestion{
  background: white;
}

form{
  display:flex;
  flex-direction: column;
}