body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
  
    
}

.formulaireprojet, .formulairecs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height:40%;
    border:2px solid black;
    padding:30px;
    width:40%;
    gap:8px;
    background: rgb(4, 79, 109);
}
